<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Student Details</h6>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                       <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Room</th>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Message</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                     {% for i in data %}
                                    <tr>

                                        <td>{{i.name}}</td>
                                        <td>{{i.email}}</td>
                                        <td>{{i.udep}}</td>
                                        <td>{{i.uroom}}</td>
                                        <td>{{i.subject}}</td>
                                        <td>{{i.message}}</td>
                                         <td>
                                            <form action="{% url 'deletecom' dataid=i.id %}">
                                                <button class="btn btn-outline-danger " >Read</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

</body>
</html>
{% endblock %}